@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");

:root {
  --primary-color: #16a34a;
  --grey: #6b7280;
}

hr {
  margin: 2rem 0rem;
}
body {
  font-family: "Inter", sans-serif;
}

.container {
  padding-left: 1rem;
  padding-right: 1rem;
}
.container-center {
  max-width: 600px;
  margin: auto;
}
.link {
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
}
.link-primary {
  background-color: var(--primary-color);
  color: white;
}
.link-secondary {
  border: 1px solid var(--primary-color);
  border-radius: 0.5rem;
  color: var(--primary-color);
}

.list-non-bullet {
  list-style: none;
}
.list-inline {
  display: inline;
  padding: 0rem 0.5rem;
}
.navigation {
  background-color: var(--primary-color);
  color: white;
  padding: 1rem;
  border-bottom-left-radius: 2rem;
}
.navigation .nav-brand {
  font-weight: bold;
}
.navigation .link {
  color: white;
}
.text-align-right {
  text-align: right;
}
.navigation .link-active {
  font-weight: bold;
}
.hero {
  padding: 2rem;
}
.hero .hero-image {
  max-width: 600px;
  display: block;
  margin: auto;
}
.hero .hero-heading {
  padding-top: 1rem;
  text-align: center;
  color: var(--grey);
}
.heading-bold-color {
  color: var(--primary-color);
}
